/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

/* diffrent style file for components */

@import url("./cards/cards.css");
@import url("./alert/alert.css");
@import url("./badge/badge.css");
@import url("./toast/toast.css");
@import url("./button/button.css");
@import url("./avatar/avatar.css");
@import url("./image/image.css");
@import url("./input/input.css");

/* global variables */

:root {
  --primary-color: #f1f5f9;
  --card-background: #e2e8f0;
}

/* styling */
body,
html {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-color: var(--primary-color);
  font-family: "Questrial", sans-serif;
}

.container {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.backgroundDark {
  background-color: var(--card-background);
  box-shadow: 3px 2px 3px 0px #e8e5e3;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 1rem;
}

.container-fluid {
  text-align: left;
}

.p-2 {
  padding: 0.2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.underline {
  text-decoration: underline;
  color: blueviolet;
}

.cards-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* chips section */

.chips-section {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.chips {
  background-color: blueviolet;
  color: white;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
}

/* drawer */

.drawer-parent {
  display: grid;
  grid-template-columns: 150px 1fr;
  min-height: 100vh;
  overflow: none;
}

.sidebar {
  background-color: aquamarine;
  padding: 0.5rem 0.7rem;
  overflow: scroll;
}

.sidebar-heading {
  margin: 0px;
  padding: 0px;
}

.sidebar-text-sm {
  font-size: 10px;
}

.drawer-main {
  background-color: white;
}

.drawer-heading {
  background-color: blueviolet;
  padding: 0.5rem;
}

.drawer-content {
  padding: 0.5rem 0.7rem;
  height: 90vh;
  overflow: scroll;
}

.drawer-styling {
  padding: 0.5rem 0.7rem;
  margin: 0.2rem;
}

.drawer-styling:hover {
  background-color: rgb(159, 107, 207);
  color: #fff;
  filter: drop-shadow(0 0 0.75rem rgb(134, 123, 125));
}

@media only screen and (max-width: 600px) {
  .card2 {
    flex-wrap: wrap;
    height: auto;
    margin: 1rem;
  }

  .card2-img {
    width: 100%;
    /* object-fit: cover; */
    /* padding: 1rem; */
    /* border-radius: 50%; */
  }

  .drawer-parent {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
}
