/* cards */
.card {
  /* border: 1px solid black; */
  background-color: #fff;
  border-radius: 4px;
  text-align: left;
  width: 250px;
  margin: 0.3rem;
}

.card-text {
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  border-radius: 4px;
}

.card1-img {
  width: 250px;
}

.card2 {
  display: flex;
  /* flex-wrap: wrap; */
  width: 550px;
  height: 300px;
}

.card2-img {
  width: 200px;
}

.card2-size-highlight {
  background-color: blueviolet;
  color: #fff;
  padding: 0.4rem;
  border-radius: 2px;
}

.card-text-right {
  margin: 0.5rem 1rem;
  flex-direction: column;
}

.card-price {
  color: #6b7280;
}

.card-btns {
  border: 0;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary {
  background-color: #334155;
  color: #fff;
}

.card-btns:hover {
  opacity: 90%;
}
