.color-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.color-card {
  border: 1px solid;
  border-radius: 0.3rem;
  width: 150px;
  height: 100px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: var(--color-background);
}

.color-card p {
  margin: 0;
  font-weight: bold;
}

.color-card-primary {
  background-color: var(--color-primary);
}

.color-card-secondary {
  background-color: var(--color-secondary);
}

.color-card-tertiary {
  background-color: var(--color-tertiary);
}
