.grid-layout {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
  place-content: center;
  grid-gap: 1rem;
  padding: 1rem;
}

.grid-card {
  background-color: var(--color-secondary);
  color: var(--color-background);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
}

.layout-two-cards {
  grid-template-columns: 1fr 1fr;
}

.layout-three-cards {
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .layout-two-cards {
    grid-template-columns: 1fr;
  }

  .layout-three-cards {
    grid-template-columns: 1fr;
  }
}
